// docs: https://yalter.github.io/niri/Configuration%3A-Introduction.html

// spawn at startup
include "./cfg/autostart.kdl"

// animation tweaks
include "./cfg/animation.kdl"

// keyboard, touchpad, mouse, etc, and displays
include "./cfg/input.kdl"
include "./cfg/output.kdl"

// window settings
include "./cfg/rules.kdl"
include "./cfg/layout.kdl"

// keybinds
include "./cfg/keybinds.kdl"

// misc
include "./cfg/misc.kdl"
