screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

prefer-no-csd

environment {
    DISPLAY ":0"
}

xwayland-satellite {
    // off
    path "xwayland-satellite"
}

// Hide the cursor after ten seconds of inactivity.
cursor {
    hide-after-inactive-ms 10000
}

// Allows notification actions and window activation from Noctalia.
debug {
  honor-xdg-activation-with-invalid-serial
}

// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

// Enable the top-left and top-right hot corners (overview toggle)
gestures {
    hot-corners {
        top-left
        top-right
    }
}
