// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

// overall rules for windows
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// exceptions to tiling
window-rule {
    match app-id=r#"firefox$"#                      title="^Picture-in-Picture$"
    match app-id=r#"zen$"#                          title="^Picture-in-Picture$"
    match app-id="org.gnome.NautilusPreviewer"
    match app-id="org.gnome.Loupe"                  title="display.png"
    match app-id="steam"                            title="Recordings.*Screenshots"
    match app-id="__main__.py"                      title="LaTeX.*TexText"
    match app-id="zoom"                             title="meeting.*popup"
    match app-id="org.inkscape.Inkscape"            title="import"
    match app-id="nl.hjdskes.gcolor3"

    open-floating true
}

window-rule {
    match app-id=r#"^dot\.floating.small\.kitty$"#
    match app-id=r#"gcolor3"#
    open-floating true
    default-column-width { proportion 0.33; }
    default-window-height { proportion 0.33; }
}
window-rule {
    match app-id=r#"^dot\.floating\.kitty$"#
    open-floating true
    default-column-width { proportion 0.33; }
    default-window-height { proportion 0.45; }
}
window-rule {
    match app-id=r#"^dot\.floating.large\.kitty$"#
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.8; }
}
