// noctalia et al
spawn-sh-at-startup "noctalia-shell"
spawn-sh-at-startup "sleep 10 && noctalia-shell ipc call idleInhibitor toggle"
// spawn-sh-at-startup "vicinae server"

// my scripts
spawn-at-startup "/home/david/.local/bin/gentmux"

// apps
spawn-at-startup "localsend_app"
spawn-sh-at-startup "maestral start && QT_QPA_PLATFORMTHEME='' maestral_qt"
spawn-sh-at-startup "steam -silent"
