spawn-sh-at-startup "qs -c noctalia-shell"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "/home/david/.myScripts/system-sounds"
spawn-sh-at-startup "vicinae server"

// keyboard, touchpad, mouse, etc, and displays
include "io.kdl"

// window settings
include "windows.kdl"

// keybinds
include "binds.kdl"

// misc
include "misc.kdl"
