layout {
    gaps 4

    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first

    preset-column-widths {
        proportion 0.75
        proportion 0.66667
        proportion 0.5
        proportion 0.33333
        proportion 0.25
        // fixed 1920
    }

    default-column-width { proportion 0.66667; }

    focus-ring {
        off
    }

    border {
        // off
        on
        width 4
        active-gradient   from="#7aa2f7" to="#bb9af7" angle=135 relative-to="workspace-view" in="oklch shorter hue"
        inactive-gradient from="#414868" to="#1a1b26" angle=135 relative-to="workspace-view" in="oklch shorter hue"
        urgent-gradient   from="#f7768e" to="#ff9e64" angle=135 relative-to="workspace-view" in="oklch shorter hue"
    }

    struts {
        // left -2
        // right -2
        top -4
        bottom -4
    }
}
