// use `niri msg outputs` to see monitors currently in use

// ThinkPad
output "eDP-1"{
  // off
  mode "1920x1200@60.026"
  variable-refresh-rate
  scale 1
  position x=0 y=0
}

// MG300
output "PNP(GGF) MG300 0000000000001"{
  mode "1920x1080@74.986"
  scale 1
  position x=1920 y=0 // to the right of eDP-1
  // position x=0 y=-1080 // above eDP-1
}

// Samsung@Tec
output "Samsung Electric Company S22F350 H4ZHC02955"{
  mode "1920x1080@60.000"
  scale 1
  position x=0 y=-1080
}

// tele@home
output "Sharp Corporation SHARP HDMI Unknown"{
  mode "3840x2160@60.000"
  scale 1
  position x=1920 y=0
}

// monitor@home
output "ASUSTek COMPUTER INC VG30VQL1A R3LMDW000632"{
  // off
  mode "2560x1080@180.000" // 180 Hz may fail at times; try commenting this line to get an output
  scale 1
  position x=-320 y=-1080 // above eDP-1
  // position x=1920 y=0 // to the right of eDP-1
  // position x=-2560 y=0 // to the left of eDP-1
}

// monitor@home
output "PNP(XXX) Beyond TV 0x00010000"{
  // off
  mode "3840x2160@60.000" // 180 Hz may fail at times; try commenting this line to get an output
  scale 1.5
  position x=0 y=-1080 // above eDP-1
  // position x=1920 y=0 // to the right of eDP-1
  // position x=-2560 y=0 // to the left of eDP-1
}

